

<div class="container" id="home-container">
    <div class="jumbotron text-white jumbotron-image shadow">
    <h2 class="mb-4">
        Jumbotron with background image
    </h2>

    <p class="mb-4">
        Hey, check this out.
    </p>

    <a class="btn btn-primary">
        Click!
    </a>
    </div>
</div>




